.a{
    background-color: #2f2f2f;
    width: 100vw;
    height: 197px;
    text-align: center;
}
.a h1{
    color: black;
    font-family: khand;
    font-weight: 700;
    font-size: 80px;
    height: 122px;
    width: 895px;
    padding-top: 38px;
    padding-left: 273px;
    border: 5px;
}
