/* .main{
    background-color: #3a3a3a;
    overflow: hidden;
}
.heading{
    background-color: #2f2f2f;
    width: 100vw;
    /* height: 197px; */
    /* text-align: center; */
/* } */
/* .heading h1{
    color: #2f2f2f;
    font: Khand;
    font-weight: bold;
    font-size: 60px;
    height: 122px;
    /* width: 895px; */
    /* padding-top: 38px;
    /* padding-left: 180px; */
    /* text-align: center;
    border: 5px;
    text-transform: uppercase;
    text-shadow:2px 2px 0 #ffee00, */ 
    /* -2px -2px 0 #ffee00,
     2px -2px 0 #ffee00,
    -2px  2px 0 #ffee00,
     2px  2px 0 #ffee00,
    -3px  0px 0 #ffee00,
     3px  0px 0 #ffee00,
     0px -3px 0 #ffee00,
     0px  3px 0 #ffee00;
     letter-spacing: 0; */
/* } */
/* .title h2{ */
    /* color: #2f2f2f; */
    /* background-color: #2f2f2f; */
    /* font: Khand; */
    /* text-transform: uppercase; */ */
    /* text-shadow:2px 2px 0 #ffee00, */
    /* -2px -2px 0 #ffee00, */
     /* 2px -2px 0 #ffee00, */
    /* -2px  2px 0 #ffee00, */
     /* 2px  2px 0 #ffee00, */
    /* -3px  0px 0 #ffee00, */
     /* 3px  0px 0 #ffee00, */
     /* 0px -3px 0 #ffee00, */
     /* 0px  3px 0 #ffee00; */
     /* text-align: center; */
     /* border: 5px; */
    /* padding-top: 100px; */
/* } */
/* .faq{ */
    /* margin-top: 50px; */
    /* justify-content: center; */
    /* align-items: center; */
    /* display: flex; */
    /* width: 100%; */
     
/* } */
/* .que{ */
    /* width: 100%; */
    /* padding: 14px; */
    /* font: Khand; */
    /* margin-left: 300px; */
    /* background-color: #ffee00; */
    /* font: Khand; */
    /* font-weight: bold; */
    /* color: #2f2f2f; */
    /* font-size: 23px; */
    /* border-radius: 7px; */
    /* position: relative; */
/* } */
/* .arr{ */
    /* font-size: 30px; */
    /* padding-left: 0px; */
    /* text-align: right; */
    /* position: absolute; */
    /* right: 10px; */
    /* top: 0; */
/* } */
/* .faq{ */
    /* display: flex; */
    /* overflow: hidden; */
    /* justify-content: space-around; */
    /* width: 100%; */
    /* margin-left: 310px; */
    
/* } */
/* .faqTwo{ */
    /* width: 20%; */
/* } */
/* .faqMain{ */
    /* width: 60%; */
/* } */

/* .ques{ */
    /* width: 100%; */
    /* padding: 14px; */
    /* font: Khand; */
    /* margin-left: 300px; */
    /* background-color: #ffee00; */
    /* font: Khand; */
    /* font-weight: bold; */
    /* color: #2f2f2f; */
    /* font-size: 23px; */
    /* border-radius: 7px; */
    /* position: relative; */
    /* top:15px; */
    /* padding-top: 15px; */
    /* margin-top: 15px; */
/* } */

/* .titleone{ */
    /* color: #2f2f2f; */
    /* background-color: #2f2f2f; */
    /* font: Khand; */
    /* text-transform: uppercase; */
    /* text-shadow:2px 2px 0 #ffee00, */
    /* -2px -2px 0 #ffee00, */
     /* 2px -2px 0 #ffee00,
    -2px  2px 0 #ffee00,
     2px  2px 0 #ffee00, */
    /* -3px  0px 0 #ffee00,
     3px  0px 0 #ffee00,
     0px -3px 0 #ffee00,
     0px  3px 0 #ffee00; */
     /* text-align: center; */
     /* border: 5px;
    padding-top: 40px;
    padding-left: 305px;
    padding-bottom: 30px; */
/* }